@media (min-width: 1200px) {
    .container {
        max-width: 970px;
    }
}
@media (min-width:400px){
    .global-search {
        padding: 20px 0;
        text-align:center;
    }
    body {
        padding-top: 5%;
        padding-bottom: 15px;
    }
    .global-search {
        text-align:center;
        padding:10px;
    }
    .global-search .form-control {
        width:500px;
    }
    .global-search * {
        display:inline-block;
        margin-bottom:0;
    }
}
.topcorner{
    position:absolute;
    top:2%;
    right:2%;
}
.btn{
    background-image: linear-gradient(to bottom,#00d4ff52 0,#00D4FF 100%);
    border: none;
    padding-bottom: 7px;
}
.step-links a{
    color: #4285F4;
}
#search_label{
    font-size: 24px;
    padding-right: 8px;
}
@font-face {
    font-family: Static;
    src: url(static.otf);
}
.left-title{
    color: #00D4FF;
}
#title{
    font-family: Static;
    font-size: 60px;
}
.p_top{
    display:inline-block;
    padding-top: 0px;
}
.comment{
    margin-top: 10px;
}
.jumbotron p{
    font-size: 15px;
    font-weight: 400;
}
.preview{
    max-height: 200px;
    position: relative;
    overflow: hidden;
}
.preview .read-more{
    position: absolute; 
    bottom: 0; 
    left: 0;
    width: 100%; 
    text-align: center; 
    margin: 0; padding: 5px 0; 
    background-color: rgba(200, 200, 200, 0.8);
    /* "transparent" only works here because == rgba(0,0,0,0) */
    /*background-image: linear-gradient(to bottom, transparent, grey);*/
}
