<html>
    <head>
        <title> ChangingViews </title>
        <link rel="stylesheet" href="/static/bootstrap.min.css">

        <!-- Latest compiled and minified CSS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script type=text/javascript src="{{url_for('static', filename='js/main.js')}}"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/static/home.css">
    </head>
    <body>
        <div class="flex">
            <form action="/results" class="form-inline global-search">
                <div class="topic-div">
                    <h1 id="title" class="left-title"> Change My View On</h1>
                    <div class="form-group p_top">
                        <input id="input" type="text" name="search" class="form-control topic-input inputs" placeholder="topic">
                    </div>
                </div>

                <br>
                <div class="form-group p_top">
                    <input id="input" type="text" name="opinion" class="form-control inputs op-input" placeholder="Optional: Enter your opinion here">
                </div>
                <button type="submit" class="btn"> Search </button>
            </form>
        </div>
        <div class="topcorner">
            <p>Created by Yuji Akimoto, Ben Edwards, Jacqueline Wen, Young Kim, and Zachary Brienza</p>
        </div>
    </body>
</html>
