<html>
    <head>
        <title> ChangingViews </title>
        <link rel="stylesheet" href="/static/bootstrap.min.css">
        <script src="https://d3plus.org/js/d3.js"></script>
        <script src="http://d3js.org/d3.v4.min.js" charset="utf-8"></script>
        <!-- https: added -->
        <script src="https://d3plus.org/js/d3plus.js"></script><!-- https: added -->
        <!-- Latest compiled and minified CSS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script type=text/javascript src="{{url_for('static', filename='js/main.js')}}"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/static/main.css">
    </head>
    <body>
        <div class="topcorner">
            <p>{{ net_id }}</p>
        </div>
        <form class="form-inline global-search">
            <h1 id="title" class="left-title"> Changing </h1>
            <h1 id="title"> Views </h1>
            <br><br>
            <div class="form-group p_top">
                <label id="search_label"> Change my view on </label>
                <input id="input" type="text" name="search" class="form-control" placeholder="Topic">
            </div>
            <button type="submit" class="btn"> Go! </button>
        </form>
        <!-- <h2>{{output_message}}</h2> -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="modalLabel"> </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <h4 id="#modalComments">Comments</h4>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        <script>
            var views = {{data|tojson}};
            var id = 0;
            for (var i in views){
                var post = views[i];
                post['value'] = id;
                id++;
            }
            console.log(views);
        </script>
        <script type=text/javascript src="{{url_for('static', filename='js/getResults.js')}}"></script>
<!--         <form class="form-inline global-search">
            <h2>{{output_message}}</h2>
            <br>
            {% if data|length > 0 %}
            {% for d in range([10,data|length]|min) %}
            <div class="container">
                <br>
                <div class='jumbotron jumbotron-fluid'>
                    <h3 class="c_title" data-toggle="collapse" data-target="#collapseExample{{d}}">{{data[d]['title']}}</h3><br>
                    <div class="collapsing" id="collapseExample{{d}}">
                        <ul class = "list-group">
                            {%if data[d]['comments'] |length >=5 %}
                            {% for c in data[d]['comments'][0:5] %}
                            <li class = "list-group-item text-left comment preview">
                                <p class="comment-txt">{{c['comment']}}</p>
                                {% if c['comment']|length > 500 %}
                                <p class="read-more"><a class="button">Read More</a></p>
                                {% endif %}
                            </li>
                            {% endfor %}
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% endif %}
        </form> -->
    </body>

</html>
